<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body th:fragment="validation" th:if="${validations != null}" >

    <script th:inline="javascript" th:each="v : ${validations}">
        /*<![CDATA[*/

        var msg = /*[[${validations.get(v.key)}]]*/;
        var campo = /*[[${v.key}]]*/;

        console.log(msg);
        console.log(campo);

        $('#'+campo).attr("title", msg);
        $('#'+campo).parent().addClass('has-error')

        /*]]>*/
    </script>

    <script th:inline="javascript">
        $('.form-group').tooltip({
            selector: "[data-toggle=tooltip]",
            container: "body"
        })
    </script>
</body>
</html>
